<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtechcollege.cms.dao.AdminMapper">

    <select id="selectAdminLogin" resultType="com.newtechcollege.cms.entity.Admin">
        SELECT admin_id,username,lastloginip,lastlogintime,email,realname FROM admin WHERE username=#{username} AND password=#{password} AND status!=-1
    </select>
    <select id="selectAll" resultType="com.newtechcollege.cms.entity.Admin">
        SELECT admin_id,username,lastloginip,lastlogintime,email,realname FROM admin
    </select>
    <select id="selectPassword">
        SELECT password FROM admin WHERE admin_id=#{id}
    </select>
    <select id="selectScope">
        select username admin where admin_id=#{id} and scope=64
    </select>
    <update id="updatePassword">
        UPDATE admin SET password=#{pwd} where admin_id=#{id}
    </update>
    <update id="deleteAdmin">
        UPDATE admin SET status=-1 WHERE admin_id=#{id}
    </update>
    <insert id="insertAdmin" parameterType="com.newtechcollege.cms.entity.Admin">
        INSERT INTO admin(
        username,password,lastloginip,lastlogintime,email,realname)
        VALUES(
        #{username},#{password},#{lastloginip},#{lastlogintime},#{email},#{realname}
        )
    </insert>

</mapper>