<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtechcollege.cms.dao.SchoolMapper">


    <resultMap type="java.util.HashMap" id="schoolMap">
		<id column="id" property="id"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="imgsrc" property="imgsrc" jdbcType="VARCHAR"/>
		<result column="cid" property="cid" jdbcType="INTEGER"/>
		<result column="create_time" property="create_time" jdbcType="VARCHAR"/>
		<result column="update_time" property="update_time" jdbcType="VARCHAR"/>
	    <result column="status" property="status"/>

		<association property="city" select="getCity" column="cid" javaType="City">
		</association>

		<collection property="imgs"  select="getImgs" ofType="Img" column="id">
		</collection>

	</resultMap>
	<resultMap type="com.newtechcollege.cms.entity.City" id="cityMap">
			<id column="id" property="id"/>
			<result column="name" property="name"/>
	</resultMap>
	<resultMap type="java.util.HashMap" id="imgMap">
			<id column="id" property="id"/>
			<result column="imgsrc" property="imgsrc"/>
			<result column="img_title" property="img_title"/>
	</resultMap>


	<!-- 获取实训基地所在城市信息 -->
    <select id="getCity" resultMap="cityMap" parameterType="int">
		SELECT
			c.id,
			c.name
		FROM city c
		where c.id = #{cid}
	</select>
	<!-- 获取实训基地图片信息 -->
	<select id="getImgs" resultMap="imgMap" parameterType="int">
			SELECT
				i.id,
				i.img_title
			FROM img i
			where i.sid = #{id}
	</select>


	<!-- 查询 -->

    <!--查询实训基地列表-->
    <select id="list" resultMap="schoolMap">
        SELECT
			*
		FROM
			school s
		WHERE 
			s.status != -1
	</select>
	<!--搜索实训基地-->
    <select id="search" resultMap="schoolMap" >
			SELECT
				s.id,
				s.name,
				s.imgsrc,
				s.cid,
				s.status
			FROM
				school s
			WHERE
				s.name like "%"#{title}"%" and status != -1
	</select>
	<!--实训基地详情-->
    <select id="getSchoolById" resultMap="schoolMap" >
			SELECT
				s.id,
				s.name,
				s.imgsrc,
				s.cid,
				s.status
			FROM
				school s
			WHERE
				s.id = #{id} and status != -1
	</select>

	<!-- 操作数据库 -->

	<!-- 删除操作 -->
	<update id="delete" >
			update school
			<set>
				status = -1
			</set>
			where id=#{id}
	</update>

	<!-- 发布实训基地操作 -->
	<update id="publish" >
			update school
			<set>
				status = 1,
				create_time = now()
			</set>
			where id=#{id}
	</update>

	<!-- 新增实训基地-->
	<insert id="insert" parameterType="com.newtechcollege.cms.entity.School">
    INSERT INTO school(
            name,
            imgsrc,
            cid,
            create_time
        ) VALUES(
            #{name,jdbcType=VARCHAR},
            #{imgsrc,jdbcType=VARCHAR},
            #{cid,jdbcType=INTEGER},
            now()
        )
     </insert>

	<!-- 修改实训基地信息-->
	<update id="update">
        UPDATE school SET
         name=#{name},
         imgsrc=#{imgsrc},
         cid=#{cid},
         update_time=now()
        WHERE id=#{id}
    </update>

	<!-- 上传实训学校图片操作 -->
	<update id="upload" >
		update school
		<set>
			imgsrc = #{path}
		</set>
		where id=#{id}
	</update>

</mapper>
