<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtechcollege.coursecms.dao.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.newtechcollege.coursecms.entity.Discover">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="start_time" property="start_time" jdbcType="VARCHAR"/>
        <result column="end_time" property="end_time" jdbcType="VARCHAR"/>
        <result column="cost" property="cost" jdbcType="VARCHAR"/>
        <result column="imgsrc" property="imgsrc" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="contact" property="contact" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title
    </sql>
    <select id="select" resultMap="BaseResultMap">
        select * from discover order by  id desc 
    </select> 
    <select id="getActivityById" resultType="com.newtechcollege.coursecms.entity.Discover">
        select * from discover where id = #{id}
    </select> 
    <insert id="insert" parameterType="com.newtechcollege.coursecms.entity.Discover">
       
        insert into discover (id, title,content,source,time,start_time,end_time,cost,imgsrc,remark,contact,contact_person,address,status)
        values (
            null,
            #{title,jdbcType=VARCHAR},
            #{content,jdbcType=VARCHAR},
            #{source,jdbcType=VARCHAR},
            null,
            #{start_time,jdbcType=VARCHAR},
            #{end_time,jdbcType=VARCHAR},
            #{cost,jdbcType=VARCHAR},
            #{imgsrc,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR},
            #{contact,jdbcType=VARCHAR},
            #{contact_person,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR},
            0
        )
    </insert> 

    <update id="delete" parameterType="com.newtechcollege.coursecms.entity.Discover">
        update discover
        <set>
            status = -1
        </set>
        where id=#{id}
    </update>
    <update id="publish" parameterType="com.newtechcollege.coursecms.entity.Discover">
        update discover
        <set>
            status = #{status}
        </set>
        where id=#{id}
    </update>
    <update id="update" parameterType="com.newtechcollege.coursecms.entity.Discover">
        update discover
        set
            title = #{title},
            content = #{content},
            source = #{source},
            start_time = #{start_time},
            end_time=#{end_time},
            cost=#{cost},
            imgsrc=#{imgsrc},
            remark=#{remark},
            contact=#{contact},
            contact_person=#{contact_person},
            address=#{address} 
        where id=#{id}
    </update>
</mapper>
