<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtechcollege.coursecms.dao.UserMapper">
<!--    查询所有用户-->
    <select id="selectUser" resultType="com.newtechcollege.coursecms.entity.User">
        SELECT * FROM user
    </select>
<!--    查询微信用户-->
    <select id="selectUserWechat" resultType="com.newtechcollege.coursecms.entity.User">
        SELECT * FROM user WHERE openid !=NULL
    </select>
</mapper>